@import '../../scss/vars';

$top-bot-pad: 6px;

section {
	background-color: darken($yt-red, 10%);
	transition: background-color 150ms;
	padding-top: $top-bot-pad;
	margin-top: 2px;

	& div {
		margin: 0 0 $top-bot-pad $sidebar-left-padding;
	}

	&:after {
		display: block;
		content: '';
		border-bottom: solid 3px darken($yt-gray, 20%);
		transform: scaleX(0);
		transform-origin: 0% 50%;
		transition: transform 150ms ease-in;
	}
	&:hover:after {
		transform: scaleX(1);
	}

	header {
		font-size: 18px;
		font-family: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
		overflow-x: hidden;
		white-space: nowrap;
	}

}