<div *ngFor="let p of shared.getPlaylists(); let i = index" class="playlist margin-b-12">
  <div class="heading-container gradient">
    
    <a class="linkspace" [routerLink]="['/playlist', i]" >
      <span style="width: 60%;" class="bold plist-title heading-container-item playlist-title white">
        {{ p.title }}
      </span>
      <span style="width: 20%;" class="channel-name heading-container-item white">
        by {{ p.channelName }}
      </span>
      <span style="width: 15%; margin-right: 0; flex-grow: 0;" class="video-count text-right heading-container-item white">
        {{ p.watched.length }} / {{ p.totalVideos }}
      </span>
    </a>
    
    <span (click)="removePlaylist(p.index)" class="delete">
      <span>x</span>
    </span>
    
    
  </div>
  
  <div class="playlist-content">
    <div class="left-padding-4 thumbnail playlist-content-item"> <a><img width="120px" src="{{p.getThumbnailUrl()}}"/></a> </div>
    <div class="left-padding-2 description playlist-content-item text-left">
      {{ p.description }}<br />
      <a class="link">View on YouTube.com</a>
    </div>
  </div>
</div>

<div class="note">
  Press  <button id="btn-url-add" class="btn btn-default">
    <span id="btn-url-span" class="icon icon-plus-circled"></span>
  </button> to add a playlist!
</div>
