@import '../../scss/vars';

.sidebar {
	width: 150px;
	height: 100vh;
	background-color: darken($yt-red, 15%);

	.title {
		font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif;
		font-size: 18px;
		font-weight: 100;
		line-height: $header-height;
		transition: background-color 200ms;
		color: lighten($yt-white, 25%);
		cursor: pointer;
		padding: 0 0 0 10px;

		&:hover {
			background-color: darken($yt-red, 10%);
		}
	}
}