<div #sidebarWrapper
class="sidebar-wrapper">

	<div class="sidebar">
		<div class="title" 
			(click)="loginHandler()"> 
			{{ sidebarHeader }}
		</div>

		<div class="playlist-content">

			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>
			<app-playlist-item
				[plist]="playlist">
			</app-playlist-item>

		</div>

	</div>

	<div app-resize
	[resizeMe]="sidebarWrapper"
	[vertical]="true"
	[minSize]="200"
	[maxSize]="450"
	[barWidth]="8"
	class="sidebar-resize"> </div>

</div>
