@import '../../scss/vars';

$header-height: 40px;

.sidebar-wrapper {
	display: grid;
	grid-template-columns: 1fr 8px;
	width: 225px;
	overflow-y: scroll;
	height: 100vh;
	overflow-x: hidden;
	background-color: $sidebar-bg;
	padding: 0;
	
	&::-webkit-scrollbar { 
    width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: lighten($yt-red, 10%);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
	}

	.sidebar {
		grid-template-columns: auto 10px;
	
		.title {
			font-family: 'Helvetica', 'Tahoma', 'Arial', sans-serif;
			font-size: 18px;
			font-weight: 100;
			line-height: $header-height;
			transition: background-color 200ms;
			color: $white-text;
			cursor: pointer;
			padding: 0 0 0 $sidebar-left-padding;
			position: relative;
			background-color: $yt-red;

			&:hover {
				background-color: darken($yt-red, 10%);
			}
		}
	}
	.sidebar-resize {
		height: 100%;
		background-color: darken($yt-white, 10%);
	}
}