@import '../../scss/vars';

.sidebar-wrapper {
	display: grid;
	grid-template-columns: 1fr 8px;
	width: 225px;
	overflow-y: scroll;
	height: 100vh;
	overflow-x: hidden;
	background-color: $sidebar-bg;
	padding: 0;
	
	&::-webkit-scrollbar { 
    width: 8px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 5px;
		background-color: lighten($yt-red, 10%);
    box-shadow: inset 0 0 2px rgba(0,0,0,0.5); 
	}

	.sidebar {
		grid-template-columns: auto 10px;
	
		.title {
			@extend %header-text;
		}

		.loading {
			margin: 25px 0 0 0;
		}
	}
	.sidebar-resize {
		height: 100%;
		background-color: darken($yt-white, 10%);
	}
}