<div #sidebarWrapper
class="sidebar-wrapper">

	<div class="sidebar">
		<div class="title"
			(click)="loginHandler()"> 
			{{ sidebarHeader }}
		</div>

		<div class="playlist-content">
			<app-playlist-list
				[playlists]="playlists"
				[title]="'My Playlists'">
			</app-playlist-list>

			<app-playlist-list
				[playlists]=""
				[title]="'Playlists'">
			</app-playlist-list>
		</div>


	</div>

	<div app-resize
	[resizeMe]="sidebarWrapper"
	[vertical]="true"
	[minSize]="200"
	[maxSize]="450"
	[barWidth]="20"
	class="sidebar-resize"> </div>

</div>
