@import './../../scss/vars';
$thumbnail-width: 200px;

.playlist-detail {
	display: flex;
	margin-top: 20px;
	transition: background-color 200ms ease-out;

	&:hover {
		background-color: lighten($yt-gray, 95%);
		cursor: pointer;
	}

	.thumbnail {
		position: relative;
		img {
			max-width: $thumbnail-width;
		}
	}

	.full-width {
		width: 100%;
	}

	.detail {
		padding-left: 25px;

		.title {
			font-weight: 600;
			padding-top: 10px;

			.channel {
				font-weight: 200;
				font-size: 12px;
			}
		}

		.description {
			margin-top: 4px;
		}
	}
}

.add {
	color: white;
	line-height: 116px;
	font-size: 50px;
	text-align: center;
	width: 30px;
	position: absolute;
	opacity: 0.40;
	background-color: lighten($yt-gray, 5%);
	transition: background-color 200ms ease-in-out, width 200ms ease-in-out;
	height: 100%;
	width: 100%;
	max-width: $thumbnail-width;

	&:hover {
		background-color: $yt-red;
	}
}