
<div *ngIf="playlist" class="playlist-view">
	<app-playlist-detail
		[playlist]="playlist">
	</app-playlist-detail>

	<!-- RESUME BUTTON -->
	<div class="resume flex nowrap">
		<app-play-button class="play-button" 
			[title]="'Resume'"
			(click)="handleResume()"></app-play-button>

		<app-playlist-preview
			[paged]="paged"
			[playlist]="playlist">
		</app-playlist-preview>

	</div>


	<!-- SETTINGS LIST -->
	<div class="settings">

	</div>


	<!-- VIDEOS LIST -->
	<div *ngIf="paged" class="videos">
		<app-video-list 
			(videoClicked)="playVideo($event)"
			[videos]="paged.videos">
		</app-video-list>

		<button (click)="loadMore()" class="primary"
			*ngIf="showLoadingButton()">
			Load More
		</button>

		<app-loading *ngIf="loading && !showLoadingButton()">
		</app-loading>
	</div>

</div>
