<div class="window">
  <!-- .toolbar-header sits at the top of your app -->
  <header class="toolbar toolbar-header">
    <h1 class="title">ViewTube</h1>
    
    <div class="toolbar-actions">
      
      <div class="btn-group">
        <a routerlink="/home">
          <button class="btn btn-default">
            <span class="icon icon-home"></span>
          </button>
        </a>
        
        <a routerLink="/settings">
          <button class="btn btn-default">
            <span class="icon icon-cog"></span>
          </button>
        </a>
        
      </div>
      
      <button (click)="toggleShowForm()" id="btn-url-add" class="btn btn-default">
        <span id="btn-url-span" class="icon {{ plusOrMinus }}"></span>
      </button>

      <!-- Conditionally show form based on the state of the buttons  -->
      <span *ngIf="showForm" id="url-input-container">
        <form id="addVideoForm">
          <!-- TWO WAY BINDING -->
          <input id="url-text" (click)="urlBox=''" [(ngModel)]="urlBox" name="urlText" style="width: 50%;" class="text-input" type="text" placeholder="https://www.youtube.com/playlist?list=...">

          <!-- Clicking the button processes the url provided  -->
          <button id="btn-check" (click)="addFromForm()" class="btn btn-default"><span class="icon icon-check"></span></button>
        </form>
        
      </span>
      
      <form id="addVideoForm" class="pull-right">
        <input id="searchBox" class="text-input" type="text" placeholder="Search" ng-click="clearSearch()" ng-model="searchBox">
      </form>
    </div>
    
  </header>
  <router-outlet></router-outlet>
  
</div>
