.grid {
  display: grid;
  grid-template-columns: auto 1fr;
}

.router-outlet {
  padding: 60px 20px 20px 20px;
  height: calc(100vh - 40px);
}

.router {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}
