  <div ng-repeat="p in plists" class="playlist margin-b-12">
    
    
      <div class="heading-container gradient">

        <a class="linkspace" href="#!playlist/{{$index}}">
          <span style="width: 55%;" class="bold plist-title heading-container-item playlist-title white">
          	{{ p.getTitle(); }}
          </span>
          <span class="channel-name heading-container-item white">
          	by {{ p.getChannel(); }} 
          </span>
          <span class="video-count text-right heading-container-item white">
          	 {{ p.getLastVideoNumber() + 1; }} / {{ p.getTotalVideos(); }}
          </span>
        </a>

        <span class="delete" ng-click="remove($index)">
          <span>X</span>
        </span>
      </div>
    
    <div class="playlist-content">
      <div class="left-padding-4 thumbnail playlist-content-item"> <a href="#!playlist/{{$index}}"><img ng-src="{{ p.getThumbnailUrl(); }}" width="120px" /></a> </div>
      <div class="left-padding-2 description playlist-content-item text-left">
        {{ p.getDescription(); }}
      </div>
    </div>
  </div>

  <div class="{{displayMsg ? '' : 'hidden' }} note">
    Press  <button id="btn-url-add" class="btn btn-default">
            <span id="btn-url-span" class="icon icon-plus-circled"></span>
          </button> to add a playlist!
  </div>