  <div ng-repeat="p in plists | filter:searchBox" class="playlist margin-b-12">
      <div class="heading-container gradient">
      
        <a class="linkspace" href="#!playlist/{{p.index}}">
          <span style="width: 60%;" class="bold plist-title heading-container-item playlist-title white">
          	{{ p.title; }}
          </span>
          <span style="width: 20%;" class="channel-name heading-container-item white">
          	by {{ p.channelName; }} 
          </span>
          <span style="width: 10%; margin-right: 0; flex-grow: 0;" class="video-count text-right heading-container-item white">
          	 {{ p.watched.length }} / {{ p.totalVideos }}
          </span>
        </a>

        <span class="delete" ng-click="remove($index)">
          <span>x</span>
        </span>


      </div>
    
    <div class="{{ showDesc ? '' : 'hidden' }} playlist-content">
      <div class="left-padding-4 thumbnail playlist-content-item"> <a href="#!playlist/{{$index}}"><img ng-src="{{ p.getThumbnailUrl(); }}" width="120px" /></a> </div>
      <div class="left-padding-2 description playlist-content-item text-left">
        {{ p.description; }}<br />
        <a onclick="goToYouTube()">View on YouTube.com</a>
      </div>
    </div>
  </div>

  <div class="{{displayMsg ? '' : 'hidden' }} note">
    Press  <button id="btn-url-add" class="btn btn-default">
            <span id="btn-url-span" class="icon icon-plus-circled"></span>
          </button> to add a playlist!
  </div>