<div class="no-margin playlist">

    <div class="heading-container gradient">
      <span style="width:55%" class="bold plist-title heading-container-item playlist-title white">
      	{{ data.plist.title; }}
      </span>
      <span style="width:25%" class="channel-name heading-container-item white">
      	by {{ data.plist.channelName; }} 
      </span>
      <span style="width:10%" class="video-count text-right heading-container-item white">
      	 {{ data.plist.watched.length; }} / {{ data.plist.totalVideos }}
      </span>
    </div>
  <div class="playlist-content">
    <div class="left-padding-4 thumbnail playlist-content-item"> <img ng-src="{{ data.plist.getThumbnailUrl(); }}" width="120px" /> </div>
    <div class="left-padding-2 description playlist-content-item text-left">
      {{ data.plist.description; }}<br/>
      <a class="link" ng-click="goToYouTube(data.plist.id)">View on YouTube.com</a>
  
      <br>
      <div class="playlistType">
        Playlist is
        <select name="type" id="type"
          ng-options="option.name for option in data.type track by option.id"
          ng-model="data.typeSelected"
          ng-change="typeChanged()">
        </select>
      </div>

    </div>
    

  </div>
</div>
<div class="buttons-container">
	<div ng-click="greenButton()" class="green-bg button">
		{{data.buttonText}}
	</div>
</div>

<div style="background-color: #212121;" class="bottom-margin-px windowWidth heading-container">
  <span style="width: 5%;" class="white heading-container-item"> # </span>
  <span style="width: 70%;" class="white heading-container-item"> Video Title </span>
  <span style="width: 14%;"class="white heading-container-item"> {{data.plist.totalTime}} </span>
</div>

<div ng-repeat="video in data.videos | filter:searchBox" ng-click="clickEvent(video.index)"
class="{{ video.watched ? 'watched' : 'unwatched' }}
bottom-margin-px windowWidth heading-container"

style="{{ video.watching ? 'background: -webkit-linear-gradient(left, #6b6969 0%,#6b6969 '+ video.percentage +'%,#d82020 '+ video.percentage +'%,#d82020 '+ video.percentage +'%,#d82020 100%)' : '' }}">

	<span style="width: 5%;" class="white heading-container-item"> {{ video.index+1 }} </span>
	<span style="width: 70%;" class="white heading-container-item"> {{ video.title; }} </span>
	<span style="width: 14%;"class="white heading-container-item"> {{ video.duration; }} </span>

</div>