<div class="no-margin playlist">

    <div class="heading-container gradient">
      <span style="width:55%" class="bold plist-title heading-container-item playlist-title white">
      	{{ plist.title; }}
      </span>
      <span style="width:25%" class="channel-name heading-container-item white">
      	by {{ plist.channelName; }} 
      </span>
      <span style="width:10%" class="video-count text-right heading-container-item white">
      	 {{ plist.watched.length; }} / {{ plist.totalVideos }}
      </span>
    </div>
  <div class="playlist-content">
    <div class="left-padding-4 thumbnail playlist-content-item"> <img ng-src="{{ plist.getThumbnailUrl(); }}" width="120px" /> </div>
    <div class="left-padding-2 description playlist-content-item text-left">
      {{ plist.description; }}
    </div>
  </div>
</div>
<div class="buttons-container">
	<div ng-click="loadNext()" class="green-bg button">
		Resume Watching
	</div>
</div>

<div class="white note-bg note">
	*Clicking a video marks all previous as watched*
</div>



<div ng-repeat="video in videos" ng-click="clickEvent($index)"
class="{{ video.watched ? 'watched' : 'unwatched' }} bottom-margin-px windowWidth heading-container" ng-attr-style="{{ ($index == watching) ? currentBg : '' }}">

	<span style="width: 5%;" class="white heading-container-item"> {{ $index+1 }} </span>
	<span style="width: 70%;" class="white heading-container-item"> {{ video.title; }} </span>
	<span style="width: 25%;"class="white heading-container-item"> {{ video.duration; }} </span>

</div>