

<div class="content">
	<form class="settingsform">
	<h4 class="bold">Settings</h4>
	<!--   <div class="checkbox">
	    <label>
	      <input type="checkbox"> This is a checkbox
	    </label>
	  </div>
	  <div class="checkbox">
	    <label>
	      <input type="checkbox"> This is a checkbox too
	    </label>
	  </div> -->
	<div class="form-group">
		Theme
		<select id="theme" class="form-control">
		    <option>Light</option>
		    <option>Dark**</option>
		</select>
	</div>

	<div class="form-group">
		Default Playlist Type
		<select id="theme" class="form-control">
		    <option>Sequential</option>
		    <option>Non-sequential**</option>
		</select>
	</div>
	<div class="form-group">
		Sort Playlist By
		<select id="theme" class="form-control">
		    <option>Playlist Name</option>
		    <option>Channel Name</option>
		</select>
	</div>

	<div class="form-group">

		<div>
			<label>
			Video is "Watched" after completing: {{sliderValue}}%
			<br/><input value="{{sliderValue}}" ng-model="threshhold" ng-change="slider()" id="threshhold" type ="range" min=".5" max=".95" step=".05"/>
			</label>
		</div>

		<div class="item">
			<p>Player Always-On-Top</p>
			<input type="checkbox" id="alwaysontop" ng-model="alwaysontop" ng-change="onTopChange()">
			<div class="toggle">
				<label for="alwaysontop"><i></i></label>
			</div>
		</div>

	</div>
	</form>
</div>

