<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <script type="text/javascript" src='youtube.js'></script>
    <style>
    	body {
    		margin: 0;
    		padding: 0;
    	}
    	::-webkit-scrollbar { 
    	    display: none; 
    	}
    </style>
</head>
<body class="video-page">
    <div id="player">
    	
    </div>

    <script>
    var id = window.location.search.substring(1).split('=')[1];
    
    var player = YouTubePlayer('player', {videoId: id});

    player
    	.playVideo()
    	.then(() => {
    		console.log('playing video...')
    	})
    </script>
</body>
</html>