<div class="tab-wrapper">
	<div class="tab-group">
	  <div (click)="tabChange(0)" class="tab-item" [ngClass]="{'active': activeTab === 0}">
	    <span class="icon"></span>
	    General
	  </div>
	  <div (click)="tabChange(1)" class="tab-item" [ngClass]="{'active': activeTab === 1}">
	    <span class="icon"></span>
	    Playlists
	  </div>
	  <div (click)="tabChange(2)" class="tab-item" [ngClass]="{'active': activeTab === 2}">
	    <span class="icon"></span>
	    Video Player
	  </div>
	</div>
</div>


<div class="content">
	<form class="settingsform">

<!-- GENERAL TAB -->
	<div *ngIf="activeTab === 0" id="general" class="new-tab">
		<h4 class="bold">General</h4>
		<!-- THEME SETTING -->
		<div class="tooltip form-group">
			Theme
			<select (change)="updateConfig()" [(ngModel)]="data.themeSelected.id" name="theme" id="theme">
				<option *ngFor="let theme of data.themeOptions" [ngValue]="theme.id" [selected]="data.themeSelected.id == theme.id">{{theme.name}}</option>
			</select>

			<span class="tooltiptext">No Restart Required</span>
		</div>

		<!-- PLAYLIST SORTING -->
		<div class="tooltip form-group">
			Sort Playlists By
			<select (change)="updateConfig()" [(ngModel)]="data.sortPlaylistsBySelected.id" name="sortPlaylistsBy" id="sortPlaylistsBy">
				<option *ngFor="let opt of data.sortPlaylistsBy" [ngValue]="opt.id" [selected]="data.sortPlaylistsBySelected.id == opt.id">{{opt.name}}</option>

			</select>
			<span class="tooltiptext">All playlists change order real-time. Already watched</span>
		</div>

		<!-- SHOW DESCRIPTION  -->
			<div class="tooltip item">
				<p>Show Description</p>
				<input name="showDesc" [(ngModel)]="data.showDesc" (change)="updateConfig()" type="checkbox" id="showDesc" >
				<div class="toggle">
					<label for="showDesc"><i></i></label>
				</div>
				<span class="tooltiptext">If on, description and thumbnails are shown on the main page.</span>
			</div>


			<div class="form-group">
		<!-- Backup and Restore -->
				<h4 class="bold">Backup and Restore</h4>

				<button class="stretch btn btn-large btn-primary">Backup Playlists & Settings</button>

				<div id="restoreBox" class="restore">
					<div>
						Drop File to Restore
					</div>
				</div>
			</div>

	</div>

<!-- PLAYLIST TAB -->
	<div *ngIf="activeTab === 1" id="playlist" class="new-tab">
		
		<h4 class="bold">General Playlists</h4>

		<!-- PLAYLIST TYPE -->
		<div class="tooltip form-group">
			Default Playlist Type
			<select [(ngModel)]="data.defaultTypeSelected.id" (change)="updateConfig()" name="defaultType" id="defaultType">
				<option *ngFor="let type of data.defaultType" [ngValue]="type.id" [selected]="data.defaultTypeSelected.id == type.id">{{type.name}}</option>
			</select>
			<span class="tooltiptext">Adding new playlists are set to the default type. Existing playlists do not change type.</span>
		</div>

		<!-- RESTART PARTIALLY WATCHED -->
		<div class="tooltip item">
			<input (change)="updateConfig()" [(ngModel)]="data.restart" name="restart" type="checkbox" id="restart" >
			Restart Partially Watched
			
			<div class="toggle">
				<label for="restart"><i></i></label>
			</div>
			<span class="tooltiptext">If on, partially watched videos will be restarted.</span>
		</div>

		<!-- SEQUENTIAL BEHAVIOR -->
			<h4 class="bold">Sequentail Behavior</h4>

			<!-- MARK ALL PREVIOUS WATCHED -->
				<div class="tooltip item">
					<p>Mark All Previous Watched</p>
					<input name="markPrevious" [(ngModel)]="data.markPrevious" (change)="updateConfig()" type="checkbox" id="markPrevious" >
					<div class="toggle">
						<label for="markPrevious"><i></i></label>
					</div>
					<span class="tooltiptext">If on, marks all previous videos as "watched" in sequential playlists if you start one manually (by clicking on the title).</span>
				</div>

			<!-- MARK ALL NEXT UNWATCHED -->
				<div class="tooltip item">
					<p>Mark All Next Unwatched</p>
					<input name="markNext" [(ngModel)]="data.markNext" (change)="updateConfig()" type="checkbox" id="markNext" >
					<div class="toggle">
						<label for="markNext"><i></i></label>
					</div>
					<span class="tooltiptext">If on, marks all next videos as "unwatched" in sequential playlists if you start one manually (by clicking on the title).</span>
				</div>

			<!-- SKIP WATCHED  -->
				<div class="tooltip item">
					<p>Skip Watched Videos</p>

					<input name="skipWatched" [(ngModel)]="data.skipWatched" (change)="updateConfig()" type="checkbox" id="skipWatched" >
					
					<div class="toggle">
						<label for="skipWatched"><i></i></label>
					</div>
					<span class="tooltiptext">If on, in sequential playlists, it will skip all next videos that are watched, and load the next unwatched video. If off, it plays sequentailly whether or not the video is watched.</span>
				</div>

		<!-- NON SEQUENTIAL BEHAVIOR -->
				<h4 class="bold">Non-sequential Behavior</h4>

			<!-- AFTER VIDEO FINISH -->
				<div class="tooltip form-group">
					After Video Finishes
					<select (change)="updateConfig()" [(ngModel)]="data.afterNonsequentialFinishesSelected.id" name="afterNonsequentialFinishes" id="afterNonsequentialFinishes">
						<option *ngFor="let opt of data.afterNonsequentialFinishes" [ngValue]="opt.id" [selected]="data.afterNonsequentialFinishesSelected.id == opt.id">{{opt.name}}</option>
					</select>
					<span class="tooltiptext">1: Plays the very next video after current.<br/>2: Plays random unwatched video after current.<br/>3: Closes player after current video.</span>
				</div>

	</div>

<!-- VIDEO PLAYER TAB -->
	<div *ngIf="activeTab === 2" id="video-player" class="new-tab">
	
		<h4 class="bold">Video Player Settings</h4>

		<!-- PARTIALLY WATCHED AFTER  -->
		<div class="item tooltip">
			Video is "Watched" after completing: %
			<br/><input id="threshhold" type ="range" min=".5" max=".95" step=".05"/>
			<span class="tooltiptext">When you exit video window after completing this percentage of it, the video is marked as watched.</span>
		</div>

		<!-- PLAYER ON TOP  -->
		<div class="tooltip item">
			<p>Player Always-On-Top</p>
			<input name="alwaysOnTop" [(ngModel)]="data.alwaysOnTop" (change)="updateConfig()" type="checkbox" id="alwaysontop">
			<div class="toggle">
				<label for="alwaysontop"><i></i></label>
			</div>
			<span class="tooltiptext">Player stays on top of other windows. The player does not follow multiple desktops. Updated real-time if you have a player running.</span>
		</div>

	</div>
	</form>
</div>
