* { -webkit-user-select: none; }
body { -webkit-user-select: text; }
.text-left 			{ text-align: left; }
.text-right 		{ text-align: right; }
.bold 				{ font-weight: bold; }
.left-padding-4 	{ padding: 0 0 0 4%; }
.left-padding-2 	{ padding: 0 0 0 2%; }
.hidden 			{ display: none; }
.windowWidth		{ width: 100vw; }
.bottom-margin-px  	{ margin-bottom: 2px; }
.opacity			{ opacity: 0.4; }
.unwatched 			{ background: -webkit-linear-gradient(left, #6b6969 0%,#6b6969 51%,#b50505 51%); }
.watched 			{ background-color: #6B6969; }
.no-margin 			{ margin: 0; }
.margin-b-12		{ margin-bottom: 12px; }

header {
	-webkit-app-region: drag;
	-webkit-user-select: none;
}

footer {
	position: absolute;
	right: 0;
	left: 0;
	bottom:0;
}

.window {
	/*-webkit-user-select: all;*/
	/*user-select: all;*/
	background-color: #e3e3e3;
}

.text-input {
	border-radius: 4px;
	box-shadow: 0px 0px 3px #3e3e3e;
	border: none;
	margin-right: 5px;
}

.window-content {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;

}

.playlist {
	width: 100vw;
	background-color: #F7F3F3;
	background: -webkit-linear-gradient(top, #f7f3f3 0%,#ededed 99%);
	cursor: pointer;
}

.heading-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
	padding: 3px 0 3px 0;
}

.gradient {
	background: -webkit-linear-gradient(top, #b50505 0%,#8e0000 100%);
	background-color: #b50505;
}

.heading-container-item {
	-webkit-user-select: text;
	flex-grow: 1;
	margin: 0 0 0 2%;
	padding: 0 2% 0 2%;
	
	font-size: 14px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	cursor: pointer;
	text-align: left;
}

.white { color: #F7F3F3; }
.note-bg { background-color: #494949; }

.playlist-content {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	padding: 3px 0 3px 0;

}

.playlist-content-item {
	-webkit-user-select: text;
	cursor: text;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes fadeOut {
	from { opacity: 1; }
	to   { opacity: 0; }
}

.ng-enter {
	animation: fadeIn 0.3s both ease-in; z-index: 9999;
}

.note {
	width: 100vw;
	text-align: center;
	margin-top: 3%;
	font-family: 'Monaco','Arial',monospace;
	font-size: 12pt;
}

.buttons-container {
	width: 100vw;
	display: flex;
	min-height: 10px;
	justify-content: center;
}

.button {
	width: 12%;
	color: #f2f2f2;
	font-family: 'Monaco', monospace;
	font-size: 12pt;
	text-align: center;
	margin: 0 1% 0 1%;
	cursor: pointer;
}

.video-page {
	-webkit-app-region: drag;
	-webkit-user-select: none;
	padding: 0;
}

#player {
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.green-bg { background-color: #008E09; }
.red-bg { background-color: #FF0303; }
.yellow-bg { background-color: #FFBF00; }