<div class="home">
	<div class="heading flex">
		<h1 class="grow">
			Welcome, {{userName()}}
		</h1>
		<div class="text-buttons flex">
			<div class="text-button" [routerLink]="['/settings']">
				Settings
			</div>
			<div class="text-button" (click)="logout()">
				Logout
			</div>
		</div>
	</div>

	<div class="content">
		<div class="resume-playlist" *ngIf="playlistService.lastPlaylistPlayed.value">
			<app-play-button class="play-button"
				(click)="playlistService.handlePlaylistResume(playlistService.lastPlaylistPlayed.value)"
				title="Resume Playlist">
			</app-play-button>
			<app-playlist-detail 
				[playlist]="playlistService.lastPlaylistPlayed.value">
			</app-playlist-detail>
		</div>

		<div *ngIf="playlistService.customPlaylists.value.length" class="all-playlists">
			<h1 class="all-playlists">All Playlists</h1>
			<app-playlist-detail
				*ngFor="let playlist of playlistService.customPlaylists.value"
				[playlist]="playlist">
			</app-playlist-detail>
		</div>

	</div>
</div>


