@import './../../scss/vars';

h1 {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.text-button {
	padding-left: 10px;
	font-size: 20px;
	font-weight: 300;
	color: darken($yt-red, 10%);
	cursor: pointer;
}

h2 {
	margin: 20px 0 0 0;
	padding: 0 0 0 0;
}

.play-button {
	margin-top: 15px;
}