@import './../../scss/vars';
.nav-container {
	display: flex;
	flex-wrap: nowrap;
	height: $header-height;
	margin: 0;
	background-color: $yt-red;
	width: 100%;

	.item {
		padding: 0 20px;
		@extend %header-text;
		text-transform: uppercase;
		text-overflow: ellipsis;
		white-space: nowrap;
    overflow: hidden;
    word-break: break-word;
	}

	.item.grow {
		flex-grow: 1;
	}
	
}