@import './vars';

button {
	padding: 5px 9px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	transition: background 200ms ease-in-out;
	border: none;
}

button.primary {
	background: rgba(235,45,48, 0.8);
	color: white;

	&:hover {
		background: rgba(235,45,48, 1);
	}
}

button.secondary {
	background: rgba(172, 172, 172, 0.8);
	color: black;

	&:hover {
		background: rgba(172, 172, 172, 1);
	}
}

.flex { display: flex; }
.flex-c { @extend .flex; flex-direction: column; }
.nowrap {flex-wrap: nowrap; }
.grow { flex-grow: 1; }
.space-between { @extend .flex; justify-content: space-between }